.button {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Barlow';
    text-align: center;
    border: none;
    cursor: pointer;

    &s__wrapper {
        display: flex;
        flex-direction: row;
        gap: 13px;
        margin-bottom: 275px;
    }

    &--accent {
        background-color: var(--accent-color);
        color: var(--grey-15);
        border: 2px solid transparent;
    }

    &--blur {
        color: var(--light-color);
        background-color: rgba(36, 36, 36, 0.2);
        backdrop-filter: blur(12px);
        border: 2px solid var(--grey-20);
        transition: 0.3s;

        &:hover {
            background-color: rgba(36, 36, 36, 0.05);
            backdrop-filter: blur(2px);
        }
    }
}
