.button {
    font-size: 1.8rem;
    font-weight: 500;
    font-family: 'Barlow';
    text-align: center;
    border: none;
    cursor: pointer;

    &s__wrapper {
        display: flex;
        flex-direction: row;
        gap: 1.3rem;
        margin-bottom: 27.5rem;
    }

    &--accent {
        background-color: var(--accent-color);
        color: var(--grey-15);
        border: 0.2rem solid transparent;
        transition: 0.3s;

        &:hover {
            background-color: var(--green);
        }
    }

    &--blur {
        color: var(--light-color);
        background-color: rgba(36, 36, 36, 0.2);
        backdrop-filter: blur(1.2rem);
        border: 0.2rem solid var(--grey-20);
        transition: 0.3s;

        &:hover {
            background-color: rgba(36, 36, 36, 0.05);
            backdrop-filter: blur(0.2rem);
        }
    }

    &--grey {
        background-color: var(--grey-15);
        border: none;
        transition: 0.3s;
        
        &:hover {
            background-color: var(--grey-20);
        }
    }
}
