.client-card {
    display: flex;
    flex-direction: column;
    padding: 10rem 8rem;
    border: var(--border-default);
    width: 100%;
    

    &__title {
        color: var(--green);
        margin-bottom: 2.4rem;
    }

    &__description {
        margin-bottom: 4rem;
    }


    &-extra {
        display: flex;

    }
}