.company-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem;
    width: 100%;
    

    &__icon {
        height: auto;
    }
}
