.header {
    display: flex;
    padding: 20px 162px;
    border-bottom: var(--border-default);
    background-color: var(--background-color);
    z-index: 100;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;

    &__body {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__menu-list {
        display: flex;
        flex-direction: row;
        
    }

    &__button {
        padding: 16px 24px;
        border-radius: 8px;
    }
}

.menu-list__link {
    color: var(--light-color);
    font-weight: 500;
    border-radius: 8px;
    padding: 14px 28px;
    transition: 0.4s;

    &:hover {
        background-color: var(--grey-12);
    }
}


.is-active {
    font-weight: 600;
    background-color: var(--grey-15);
}
