.header {
    display: flex;
    padding: 2rem 16.2rem;
    border-bottom: var(--border-default);
    background-color: var(--background-color);
    z-index: 100;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;

    &__body {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__menu-list {
        display: flex;
        flex-direction: row;
        
    }

    &__button {
        padding: 1.6rem 2.4rem;
        border-radius: 0.8rem;
    }
}

.menu-list__link {
    color: var(--light-color);
    font-weight: 500;
    border-radius: 0.8rem;
    padding: 1.4rem 2.8rem;
    transition: 0.33s;

    &:hover {
        background-color: var(--grey-12);
        transform: scale(1.1);
    }
}


.is-active {
    font-weight: 600;
    background-color: var(--grey-15);
}
