.hero-section {
    background-image: url(../../assets/images/heroSection.webp);
    background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
    width: 100%;
    padding-top: 11.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-left: var(--border-default);
    border-right: var(--border-default);

    &__button {
        padding: 1.8rem 2.8rem;
        border-radius: 1rem;
    }

    &__promo {
        border: 0.1rem solid var(--grey-15);
        border-radius: 1.2rem;
        padding: 2.4rem 4rem;
        background: rgba(36, 36, 36, 0.2);
        backdrop-filter: blur(1.2rem);
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 5rem;
    }
}

.promo__text {
    display: flex;
    color: var(--grey-60);
    font-size: 2.2rem;
    font-weight: 400;
    gap: 0.6rem;
    align-items: center;
}

.promo__card {
    font-size: 2.2rem;
    background-color: var(--grey-15);
    color: var(--light-color);
    padding: 1.2rem 1.4rem;
    border: none;
    border-radius: 0.8rem;
}

