.icon {
    background: linear-gradient(#242424, transparent);
    border: var(--border-default);
    border-radius: 1rem;
    max-width: 4rem;
    max-height: 4rem;
    padding: 2.4rem;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(229deg, rgba(158, 255, 0, 0.075), rgba(158, 255, 0, 0) 32%);
        z-index: 1;
        border-radius: 1rem;
    }
}