:root{

  --gap-xl: 20px;
  --gap-l: 15px;

  --padding-block: 20px;
  --padding-inline: 20px;

  --border-radius-default: 20px;

  --border-default: 1px solid var(--grey-15);


  --accent-color: #9EFF00;
  --background-color: #191919;

  --black-100: #000000;
  
  --grey-90: #E6E6E6;
  --grey-60: #98989A;
  --grey-20: #333333;
  --grey-17: #1E1E1E;
  --grey-15: #262626;
  --grey-12: #222222;
  --grey-10: #1B1B1B;

  --green: #D8FF99;
  
  --light-color: #ffffff;
}
