<div class="card client-card">
    <div class="client-card__text">
        <h4 class="h4 client-card__title">@@title</h4>
        <p class="client-card__description">@@description</p>
    </div>    
    <div>
        <div class="client-card-extra">
            <img src="@@img.webp" alt="@@alt" class="client-card__person-image">
            <div class="client-card-extra__text">
                <p class="client-card-extra__title">@@name</p>
                <p class="client-card-extra__description">@@extra-desc</p>
            </div>    
            
            @@include('./_button.html', {
            "title": "Open Website",
            "link": "/",
            "block__element": "client-card__button",
            "block--modifier": "button--grey",
            })
        </div>
    </div>
</div>