<section class="services-section">
    @@include('./_card-learn-more.html', {
        "card__title": "Design",
        "card__img": "./assets/images/design",
        "card__description": "At Squareup, our design team is passionate about creating stunning, user-centric designs that captivate your audience and elevate your brand. We believe that great design is not just about aesthetics; it's about creating seamless and intuitive user experiences.",
        "block__element": "header__button",
        "block--modifier": "button--accent",
        })
    
    @@include('./_card-learn-more.html', {
        "card__title": "Engineering",
        "card__img": "./assets/images/engineering",
        "card__description": "Our engineering team combines technical expertise with a passion for innovation to build robust and scalable digital solutions. We leverage the latest technologies and best practices to deliver high-performance applications tailored to your specific needs.",
        "block__element": "header__button",
        "block--modifier": "button--accent",
        })

    @@include('./_card-learn-more.html', {
        "card__title": "Project Management",
        "card__img": "./assets/images/project",
        "card__description": "Our experienced project management team ensures that your projects are delivered on time, within budget, and according to your specifications. We follow industry-standard methodologies and employ effective communication and collaboration tools to keep you informed throughout the development process.",
        "block__element": "header__button",
        "block--modifier": "button--accent",
        })
</section>