// ==== 1. Utils ====
@use 'utils/variables';

// ==== 2. Base styles ====
@use 'base/reset';
@use 'base/typography';
@use 'base/layout';

// ==== 3. Layout ====
@use 'layout/container';

// ==== 4. Components ====
@use 'components/button';
@use 'components/header';
@use 'components/hero-section';
@use 'components/companies-section';
@use 'components/company-card';
@use 'components/banner';
@use 'components/icon';
@use 'components/card-learn-more';
@use 'components/services-section';

html {
  font-size: 62.5%;
}

* {
  font-size: 1.8rem;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  color: var(--light-color);
}

body {
  background-color: var(--background-color);
}

main {
  padding-inline: 16.2rem;
  max-width: 159.6rem;
}

h1, h2, h3,
.h1, .h2, .h3 {
  font-weight: 600;
}

h1, .h1 {
  font-size: 6.8rem;
  margin-bottom: 4rem;
}

.h2, h2 {
  font-size: 4.8rem;
  margin-bottom: 1rem;
}